<!DOCTYPE html>
<html>
{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.min.css' %}" />
    <link href="{% static 'css/dlstyle.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'AmazeUI-2.4.2/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'AmazeUI-2.4.2/assets/js/amazeui.min.js' %}"></script>

</head>

<body>

    <div class="login-boxtitle">
        <a href="home/demo.html"><img alt="" src="{% static 'images/logobig.png' %}" /></a>
    </div>

    <div class="res-banner">
        <div class="res-main">
            <div class="login-banner-bg"><span></span><img src="{% static 'images/big.jpg' %}" /></div>
            <div class="login-box">

                <div class="am-tabs" id="doc-my-tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                        <li class="am-active"><a href="">邮箱注册</a></li>
                        <li><a href="">手机号注册</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <form action="/register/" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <style>
                                    .error input[type=text] {
                                        border: 1px solid red;
                                    }
                                </style>
                                <div class="user-email {% if register_form.errors.username  %} error {% endif %}">
                                    <label for="username"><i class="am-icon-user"></i></label>
                                    <input type="text" name="username" id="username" placeholder="请输入用户名" value="{{ request_data.username }}" />
                                </div>
                                
                                <div class="user-pass {% if register_form.errors.password  %} error {% endif %}">
                                    <label for="password"><i class="am-icon-lock"></i></label>
                                    <input type="password" name="password" id="password" placeholder="设置密码" value="{{ request_data.password }}" />
                                </div>

                                <div class="user-email {% if register_form.errors.email  %} error {% endif %}">
                                    <label for="email"><i class="am-icon-envelope-o"></i></label>
                                    <input  type="email" name="email" id="email" placeholder="请输入邮箱账号"  value="{{ request_data.email }}" />
                                </div>

                                <div class="verification {% if register_form.errors.username  %} error {% endif %}">
                                    <label for="code"><i class="am-icon-code-fork"></i></label>
                                    <input type="text" name="code" id="code" placeholder="请输入邮箱验证码" style="width:60%;" value="{{ request_data.code }}" />
                                    <a class="btn" href="javascript:void(0);" 
                                        id="sendMobileCode">
                                        <span id="dyMobileButton">获取验证码</span></a>
                                </div>
                                
                                <style>
                                    .captcha img {
                                        float: right;
                                        width: 32%;
                                        height: 40px;
                                    }
                                 .captcha input[type=text] {
                                    float: left;
                                    width: 60%;
                                    padding-left: 11px;
                                 }
                                </style>
                                <div class="captcha user-email">
                                    {{ register_form.captcha }}
                                </div>

                                <div class="am-cf">
                                    <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                                </div>
                                <span style="color:red;">{% if msg %} {{ msg }} {% endif %}</span>
                            </form>
                            
                        </div>

                        <div class="am-tab-panel">
                            <form method="post">
                                <div class="user-phone">
                                    <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                    <input disabled type="tel" name="" id="phone" placeholder="请输入手机号">
                                </div>
                                <div class="verification">
                                    <label for="code1"><i class="am-icon-code-fork"></i></label>
                                    <input disabled type="tel" name="" id="code" placeholder="请输入验证码">
                                    <a class="btn" href="javascript:void(0);" onclick="sendMobileCode();"
                                        id="sendMobileCode1">
                                        <span id="dyMobileButton1">获取</span></a>
                                </div>
                                <div class="user-pass">
                                    <label for="password"><i class="am-icon-lock"></i></label>
                                    <input disabled type="password" name="" id="password" placeholder="设置密码">
                                </div>
                                <div class="user-pass">
                                    <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                    <input disabled type="password" name="" id="passwordRepeat" placeholder="确认密码">
                                </div>
                            </form>
                            <div class="login-links">
                                <label for="reader-me">
                                    <input id="reader-me" type="checkbox"> 点击表示您同意商城《服务协议》
                                </label>
                            </div>
                            <div class="am-cf">
                                <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                            </div>

                            <hr>
                        </div>

                        <script>
                            $(function () {
                                $('#doc-my-tabs').tabs();
                            })
                        </script>

                    </div>
                </div>

            </div>
        </div>

        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="# ">物流</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="# ">合作伙伴</a>
                    <a href="# ">联系我们</a>
                    <a href="# ">网站地图</a>
                    <em>© 2015-2025 版权所有</em>
                </p>
            </div>
        </div>
        <script>
        $(function(){

            
            var wait=60;
            function time() {
                var o = document.getElementById('dyMobileButton')
                
                    if (wait == 0) {
                        o.removeAttribute("disabled");			
                        o.innerHTML="免费获取验证码";
                        wait = 60;
                    } else {
                        o.setAttribute("disabled", true);
                        o.innerHTML="重新发送(" + wait + ")";
                        wait--;
                        setTimeout(function() {
                            time()
                        },
                        1000)
                    }
                }

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $("#dyMobileButton").click(function(){  
                time()
                
            $.ajax({
            url:"/send_email/",
            type:"post",
            data: {
                email: $('#email').val()
            },
            dataType:"json",
            success:function(data){
                console.warn(data)
            }
            }); 
        });
        })
        </script>



</body>

</html>